In [346]:
CAPSTONE 2 PROJECT 

DESCRIPTION:

Predicting U.S. life expectancy at birth using education, income, unemployment, and poverty data.


PROCEDURE:

1. Obtain following datasets:  A. life table function from National Center for Health Statistics, B. Poverty Statistics, 
    C. Income datasets, D. Education Attainment dataset


DATA WRANGLING:

Five datasets used to create the following five dataframes:
    1.  df_mortality
    2.  df_poverty (contains income data)
    3.  df_education
    4.  df_unemployment
    5.  df_states (contains US States and FIPS codes)
    6.  df_county (contains US States and county FIPS codes).  all-geocodes-v2017.xlsx
    
Making Tidy Dat
    1. Check outliers and missing values.  Impute or drop missing values.
    2. Drop columns that are not needed

Merging DataFrames
    1. merg df_mortality, df_states, df_county to allow identify of county and state for entry
    2. merge df_employment and df_education to create df_emp_edu
        a.  merge df_emp_edu and df_poverty to create df_emp_edu_pov.
    3. merge df_mortalty and df_emp_edu_pov. this will be the primary dataframe used in exploratory
    data analysis

SyntaxError: invalid syntax (<ipython-input-346-555c5a4c96a7>, line 1)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
#Import life tables
#Tract ID consists is a concatenation of three numerical codes.  2-digit state FIPS code, 3-digit county
#FIPS code, and 6-digit census tract number.


df_mortality = pd.read_csv('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/US_A.csv')

In [347]:
df_mortality.info()

#zero non-null values in df_mortality
#e(0) is the life expectancy at birth.  this is the target value.
#STATE2KX, CNTY2KX columns with be important when joining all dataframes together

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65662 entries, 0 to 65661
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tract ID                  65662 non-null  int64
 1   STATE2KX                  65662 non-null  int64
 2   CNTY2KX                   65662 non-null  int64
 3   TRACT2KX                  65662 non-null  int64
 4   e(0)                      65662 non-null  float64
 5   se(e(0))                  65662 non-null  float64
 6   Abridged life table flag  65662 non-null  int64
 7   STUSAB_x                  65662 non-null  object
 8   STATE_NAME_x              65662 non-null  object
 9   STATENS_x                 65662 non-null  int64
 10  STUSAB_y                  65662 non-null  object
 11  STATE_NAME_y              65662 non-null  object
 12  STATENS_y                 65662 non-null  int64
 13  State_x                   65652 non-null  object
 14  County Name_x             65652 non-null  object
 15  State_y                   65652 non-null  object
 16  County Name_y             65652 non-null  object
dtypes: float64(2), int64(7), object(8)
memory usage: 9.0+ MB

In [348]:
df_mortality.head()

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,STUSAB_y,STATE_NAME_y,STATENS_y,State_x,County Name_x,State_y,County Name_y
0,1001020100,1,1,20100,73.1,2.2348,3,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Autauga,Alabama,Autauga
1,1001020200,1,1,20200,76.9,3.3453,3,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Autauga,Alabama,Autauga
2,1001020400,1,1,20400,75.4,1.0216,3,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Autauga,Alabama,Autauga
3,1001020500,1,1,20500,79.4,1.1768,1,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Autauga,Alabama,Autauga
4,1001020600,1,1,20600,73.1,1.5519,3,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Autauga,Alabama,Autauga

In [349]:
df_mortality.sample(5)

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,STUSAB_y,STATE_NAME_y,STATENS_y,State_x,County Name_x,State_y,County Name_y
61732,49049002701,49,49,2701,80.1,1.8421,3,UT,Utah,1455989,UT,Utah,1455989,Utah,Utah,Utah,Utah
56021,47115050302,47,115,50302,77.2,1.2611,3,TN,Tennessee,1325873,TN,Tennessee,1325873,Tennessee,Marion,Tennessee,Marion
53594,42125771200,42,125,771200,77.5,1.3101,3,PA,Pennsylvania,1779798,PA,Pennsylvania,1779798,Pennsylvania,Washington,Pennsylvania,Washington
58190,48141000404,48,141,404,75.7,1.9606,2,TX,Texas,1779801,TX,Texas,1779801,Texas,El Paso,Texas,El Paso
15395,12095016200,12,95,16200,81.8,1.4247,3,FL,Florida,294478,FL,Florida,294478,Florida,Orange,Florida,Orange

In [350]:
#import US State FIPS code data

df_state = pd.read_csv('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/StatesFIPSCodes.csv')
df_state.columns

Index(['STATE_FIPS', 'STUSAB', 'STATE_NAME', 'STATENS'], dtype='object')

In [351]:
# import US State and County FIPS code data 
df_county = pd.read_excel('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/US_FIPS_Codes.xls', header = 1)
df_county = df_county.rename(columns={"FIPS State": "STATE2KX"})
df_county = df_county.rename(columns={"FIPS County": "CNTY2KX"})
df_county.head(5)
df_county.sample(5)

             State County Name  STATE2KX  CNTY2KX
1564      Missouri     Pulaski        29      169
2157      Oklahoma      Harper        40       59
70          Alaska      Bethel         2       50
2377  South Dakota       Deuel        46       39
2556         Texas    Cherokee        48       73

In [352]:
#rename 'STATE_FIPS' columns to match df_mortality['STATE2KX']

df_state = df_state.rename(columns={"STATE_FIPS": "STATE2KX"})
df_state.sample(5)

    STATE2KX STUSAB STATE_NAME  STATENS
16        20     KS     Kansas   481813
45        50     VT    Vermont  1779802
46        51     VA   Virginia  1779803
11        15     HI     Hawaii  1779782
18        22     LA  Louisiana  1629543

In [353]:
#merge df_mortality and df_state based on 'STATE2KX' column. 

df_mortality = df_mortality.merge(df_county, on =['STATE2KX', 'CNTY2KX'], how = 'left')
df_mortality.sample(5)

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,STUSAB_y,STATE_NAME_y,STATENS_y,State_x,County Name_x,State_y,County Name_y,State,County Name
48577,39151711111,39,151,711111,83.4,2.3067,3,OH,Ohio,1085497,OH,Ohio,1085497,Ohio,Stark,Ohio,Stark,Ohio,Stark
8976,6073019303,6,73,19303,79.1,2.2700,3,CA,California,1779778,CA,California,1779778,California,San Diego,California,San Diego,California,San Diego
9911,6085509304,6,85,509304,82.3,1.8239,2,CA,California,1779778,CA,California,1779778,California,Santa Clara,California,Santa Clara,California,Santa Clara
7140,6059086502,6,59,86502,77.3,3.2876,2,CA,California,1779778,CA,California,1779778,California,Orange,California,Orange,California,Orange
31248,26125167400,26,125,167400,75.7,1.5229,3,MI,Michigan,1779789,MI,Michigan,1779789,Michigan,Oakland,Michigan,Oakland,Michigan,Oakland

In [354]:
#verify merge produced correct values for STATE_NAME_x when STATE2KX = 45
# STATE2KX value matches correct STATE_NAME_x.  Example: STATE2KX = 45 -> STATE_NAME_x = South Carolina

df_mortality[df_mortality['CNTY2KX'] == 45].sample(5)

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,STUSAB_y,STATE_NAME_y,STATENS_y,State_x,County Name_x,State_y,County Name_y,State,County Name
51978,42045406500,42,45,406500,66.9,2.7970,3,PA,Pennsylvania,1779798,PA,Pennsylvania,1779798,Pennsylvania,Delaware,Pennsylvania,Delaware,Pennsylvania,Delaware
54527,45045003801,45,45,3801,79.9,0.8294,2,SC,South Carolina,1779799,SC,South Carolina,1779799,South Carolina,Greenville,South Carolina,Greenville,South Carolina,Greenville
216,1045020500,1,45,20500,76.4,2.4299,3,AL,Alabama,1779775,AL,Alabama,1779775,Alabama,Dale,Alabama,Dale,Alabama,Dale
39386,35045000607,35,45,607,79.3,1.8953,3,NM,New Mexico,897535,NM,New Mexico,897535,New Mexico,San Juan,New Mexico,San Juan,New Mexico,San Juan
51940,42045403001,42,45,403001,79.2,1.5557,3,PA,Pennsylvania,1779798,PA,Pennsylvania,1779798,Pennsylvania,Delaware,Pennsylvania,Delaware,Pennsylvania,Delaware

In [355]:
#import employment data.  annual unemployment rate in each US County.

df_employment = pd.read_excel('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/Unemployment.xlsx', header = 4)
df_employment.head()

,FIPS_Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,...,163140305.0,157154185.0,5986120.0,3.669308,160611064.0,147677360.0,12933704.0,8.05281,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,...,2237278.0,2169395.0,67883.0,3.000000,2230118.0,2099062.0,131056.0,5.90000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,...,26281.0,25561.0,720.0,2.700000,25838.0,24576.0,1262.0,4.90000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,...,97424.0,94713.0,2711.0,2.800000,96763.0,91338.0,5425.0,5.60000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,...,8502.0,8177.0,325.0,3.800000,8587.0,7982.0,605.0,7.00000,35972.0,69.482918

In [356]:
df_employment.head()

,FIPS_Code,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Civilian_labor_force_2020,Employed_2020,Unemployed_2020,Unemployment_rate_2020,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,...,163140305.0,157154185.0,5986120.0,3.669308,160611064.0,147677360.0,12933704.0,8.05281,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,...,2237278.0,2169395.0,67883.0,3.000000,2230118.0,2099062.0,131056.0,5.90000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,...,26281.0,25561.0,720.0,2.700000,25838.0,24576.0,1262.0,4.90000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,...,97424.0,94713.0,2711.0,2.800000,96763.0,91338.0,5425.0,5.60000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,...,8502.0,8177.0,325.0,3.800000,8587.0,7982.0,605.0,7.00000,35972.0,69.482918

In [357]:
#import education data

df_education = pd.read_excel('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/Education.xls', header =4)

df_education = df_education.rename(columns={"FIPS Code": "FIPS_Code"})

df_education.head()

,FIPS_Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
0,0,US,United States,NaN,NaN,NaN,NaN,52373312.0,34158051.0,11650730.0,...,27.4,24.4,26472261.0,59472748.0,63756905.0,70920162.0,11.998918,26.956844,28.898697,32.145542
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,1062306.0,468269.0,136287.0,...,25.9,19.0,458922.0,1022839.0,993344.0,845772.0,13.819302,30.800268,29.912098,25.468332
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6611.0,3757.0,933.0,...,26.9,18.0,4291.0,12551.0,10596.0,9929.0,11.483395,33.588459,28.356571,26.571573
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,18726.0,8426.0,2334.0,...,29.3,23.1,13893.0,41797.0,47274.0,48148.0,9.193843,27.659616,31.284081,31.862459
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,8120.0,2242.0,581.0,...,21.3,10.9,4812.0,6396.0,4676.0,2080.0,26.786907,35.604542,26.029837,11.578713

In [392]:
# merge df_employment and df_education to df_emp_edu

df_emp_edu = df_employment.merge(df_education, on ='FIPS_Code', how = 'left')
df_emp_edu.sample(5)

,FIPS_Code,State_x,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19","Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19","Percent of adults with a high school diploma only, 2015-19","Percent of adults completing some college or associate's degree, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19"
1346,27011,MN,"Big Stone County, MN",9.0,12.0,0.0,2767.0,2652.0,115.0,4.2,...,27.5,11.4,268.0,1640.0,1176.0,562.0,7.350521,44.980801,32.254524,15.414152
3022,53037,WA,"Kittitas County, WA",4.0,3.0,0.0,17511.0,16479.0,1032.0,5.9,...,30.0,26.2,2392.0,6943.0,9540.0,9008.0,8.578704,24.900476,34.214397,32.306423
2162,39161,OH,"Van Wert County, OH",6.0,5.0,0.0,15620.0,14910.0,710.0,4.5,...,23.0,12.0,1691.0,8592.0,5901.0,3221.0,8.714249,44.277248,30.409689,16.598814
2927,51117,VA,"Mecklenburg County, VA",7.0,9.0,0.0,14247.0,13772.0,475.0,3.3,...,21.6,12.1,4103.0,7220.0,6814.0,4583.0,18.058979,31.778170,29.991198,20.171656
169,5101,AR,"Newton County, AR",9.0,8.0,0.0,3761.0,3601.0,160.0,4.3,...,20.6,11.8,774.0,2026.0,1754.0,1172.0,13.517289,35.382465,30.632204,20.468040

In [359]:
# import poverty and income data. 
# description of column values:
#  'FIPStxt'  - State-county FIPS CODE
#  'POVALL2019' - Estimate of people of all ages in poverty 2019, 
#  'PCTPOVALL_2019' - Estimated percent of people of all ages in poverty 2019
# 'MEDHHINC_2019'  - Estimate of median household income

df_poverty = pd.read_excel('/Users/marshallbanana/GitHub/Springboard2021/CAPSTONE 2 PROJECT FILES/Capstone 2 Project Data/PovertyEstimates.xls', header =4)


df_poverty = df_poverty.rename(columns={"FIPStxt": "FIPS_Code"})
df_poverty.head()

,FIPS_Code,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2019,CI90LBALL_2019,CI90UBALL_2019,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,NaN,NaN,NaN,NaN,39490096,39248096,39732096,...,16.0,65712,65594,65830,3457689.0,3405854.0,3509524.0,18.2,17.9,18.5
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,747478,730491,764465,...,21.6,51771,51179,52363,69236.0,65296.0,73176.0,24.2,22.8,25.6
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,6723,5517,7929,...,19.4,58233,52517,63949,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,22360,18541,26179,...,17.2,59871,54593,65149,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,5909,4787,7031,...,49.0,35972,31822,40122,NaN,NaN,NaN,NaN,NaN,NaN

In [360]:
# merge df_emp_edu and df_poverty to create df_emp_edu_pov


df_emp_edu_pov = df_emp_edu.merge(df_poverty, on ='FIPS_Code', how = 'left')
df_emp_edu_pov

,FIPS_Code,State_x,Area_name_x,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,CI90UB517P_2019,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,...,16.0,65712.0,65594.0,65830.0,3457689.0,3405854.0,3509524.0,18.2,17.9,18.5
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,...,21.6,51771.0,51179.0,52363.0,69236.0,65296.0,73176.0,24.2,22.8,25.6
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,...,19.4,58233.0,52517.0,63949.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,...,17.2,59871.0,54593.0,65149.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,...,49.0,35972.0,31822.0,40122.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,19805.0,17607.0,2198.0,11.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,2441.0,2120.0,321.0,13.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,7636.0,6648.0,988.0,12.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,10613.0,9005.0,1608.0,15.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,14664.0,12871.0,1793.0,12.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [361]:
# extract county FIPS code and use for merging to df_mortality
# to extract county FIPS code, take last three digits of FIPS_Code valued

def last_three(x):
    numbers = list(str(x))
    return (numbers[-3] + numbers[-2] + numbers[-1])

last_three(36087011603)

'603'

In [372]:
# create 'fips_county' column in df_emp_edu_pov.  'fips_county' will be last three digits of 'FIPS_Code' value

codes=[]
for x in df_emp_edu_pov['FIPS_Code'].iteritems():
    #print(x[1])
    if len(str(x[1])) >= 2:
        codes.append(last_three(x[1]))
    else:
        codes.append(000)

len(codes), len(df_emp_edu_pov)
codes
# add county fips codes to df_emp_edu_pov dataframe

df_emp_edu_pov['FIPS county codes'] = codes

# verify correct FIPS county codes were produced and added to df_emp_edu_pov
df_emp_edu_pov[['FIPS_Code','FIPS county codes']]

      FIPS_Code FIPS county codes
0             0                 0
1          1000               000
2          1001               001
3          1003               003
4          1005               005
...         ...               ...
3270      72145               145
3271      72147               147
3272      72149               149
3273      72151               151
3274      72153               153

[3275 rows x 2 columns]

In [378]:
# rename FIPS county codes and State_x columns in preparation for merging with df_mortality
df_emp_edu_pov = df_emp_edu_pov.rename(columns={"FIPS county codes": "CNTY2KX", "State_x": "STUSAB_x"})
df_emp_edu_pov

,FIPS_Code,STUSAB_x,Area_name_x,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,MEDHHINC_2019,CI90LBINC_2019,CI90UBINC_2019,POV04_2019,CI90LB04_2019,CI90UB04_2019,PCTPOV04_2019,CI90LB04P_2019,CI90UB04P_2019,CNTY2KX
0,0,US,United States,NaN,NaN,NaN,142601576.0,136904853.0,5696723.0,3.994853,...,65712.0,65594.0,65830.0,3457689.0,3405854.0,3509524.0,18.2,17.9,18.5,0
1,1000,AL,Alabama,NaN,NaN,NaN,2147173.0,2047731.0,99442.0,4.600000,...,51771.0,51179.0,52363.0,69236.0,65296.0,73176.0,24.2,22.8,25.6,000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21861.0,20971.0,890.0,4.100000,...,58233.0,52517.0,63949.0,NaN,NaN,NaN,NaN,NaN,NaN,001
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69979.0,67370.0,2609.0,3.700000,...,59871.0,54593.0,65149.0,NaN,NaN,NaN,NaN,NaN,NaN,003
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11449.0,10812.0,637.0,5.600000,...,35972.0,31822.0,40122.0,NaN,NaN,NaN,NaN,NaN,NaN,005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,19805.0,17607.0,2198.0,11.100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,2441.0,2120.0,321.0,13.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,7636.0,6648.0,988.0,12.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,10613.0,9005.0,1608.0,15.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,14664.0,12871.0,1793.0,12.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153

In [213]:
df_mortality.sample(5)

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,STUSAB_y,STATE_NAME_y,STATENS_y,State_x,County Name_x,State_y,County Name_y
43168,36087011603,36,87,11603,83.8,1.4183,3,NY,New York,1779796,NY,New York,1779796,New York,Rockland,New York,Rockland
13965,12053041103,12,53,41103,74.7,1.7402,3,FL,Florida,294478,FL,Florida,294478,Florida,Hernando,Florida,Hernando
22962,18103952600,18,103,952600,77.2,1.4171,3,IN,Indiana,448508,IN,Indiana,448508,Indiana,Miami,Indiana,Miami
28666,25009260302,25,9,260302,79.3,2.6625,3,MA,Massachusetts,606926,MA,Massachusetts,606926,Massachusetts,Essex,Massachusetts,Essex
44582,37063002022,37,63,2022,84.4,3.1388,3,NC,North Carolina,1027616,NC,North Carolina,1027616,North Carolina,Durham,North Carolina,Durham

In [383]:
#final merge

df_mortality = df_mortality.merge(df_emp_edu_pov, on = ['STUSAB_x', 'CNTY2KX'], how = 'left')

df_mortality.info(), df_mortality.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65662 entries, 0 to 65661
Columns: 359 entries, Tract ID to CI90UB04P_2019_y
dtypes: float64(332), int64(6), object(21)
memory usage: 180.3+ MB

(None, (65662, 359))

In [391]:
# Final Wrangled DataFrame, df_mortality, containing all data ready for exploratory data analysis

df_mortality.sample(5)

,Tract ID,STATE2KX,CNTY2KX,TRACT2KX,e(0),se(e(0)),Abridged life table flag,STUSAB_x,STATE_NAME_x,STATENS_x,...,CI90UB517P_2019_y,MEDHHINC_2019_y,CI90LBINC_2019_y,CI90UBINC_2019_y,POV04_2019_y,CI90LB04_2019_y,CI90UB04_2019_y,PCTPOV04_2019_y,CI90LB04P_2019_y,CI90UB04P_2019_y
7895,6067005205,6,67,5205,78.1,2.1789,2,CA,California,1779778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50811,42003130300,42,3,130300,68.0,2.8102,3,PA,Pennsylvania,1779798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36952,33011002200,33,11,2200,78.7,1.0719,2,NH,New Hampshire,1779794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35705,30087000100,30,87,100,88.3,3.0849,3,MT,Montana,767982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13029,12007000200,12,7,200,73.8,1.3418,3,FL,Florida,294478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN